/* layout.css */
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  /* height: 90vh;  */
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.red-backdrop {
  background-color: #db3434;
}

.column-full,
.column-half {
  width: 100%;
}

.d-block {
  display: block;
  margin-left: 30px;
}

.no-margin {
  margin: 0;
}

.no-margin:focus {
  color: red;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.width-100 {
  width: 100%;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.padding-1 {
  padding: 1rem;
}

.purple-background {
  background-color: #db3434;
}

.white-text {
  color: #fff;
}

.entries-link {
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.entries-link:hover {
  text-decoration: underline;
}

.entries-link:focus {
  text-decoration: underline;
}

.red-background {
  background-color: #dc2626;
}

.light-gray {
  background-color: #f0f0f0;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputclass {
  background-color: transparent; /* Make input box transparent */
  color: white; /* Set text color to white */
  border: none; /* Remove border from input box */
  flex-grow: 1;
  height: 30px;
}

.inputclass:focus {
  outline: none; /* Remove focus outline */
  background-color: transparent; /* Ensure background color stays transparent */
}

.inputclass::placeholder {
  color: white; /* Set placeholder text color to white */
}

.username-icon {
  color: white;
}

.space {
  text-align: center;
}

.center {
  text-align: center;
}

.size {
  width: 150px;
  border-radius: 13.5px;
  margin: 5px 12px;
  font-size: 13px;
}

.size2 {
  width: 500px;
}

.selected-login {
  background-color: gray;
}

.link-no-underline {
  text-decoration: none;
}

.white {
  color: white;
}

.boarder-radius-1 {
  border-radius: 12.5px;
  margin: 12px 0;
  height: 50px;
}

.boarder-radius-2 {
  border-radius: 12.5px;
  margin: 12px 0;
}

@media screen and (width <= 768px) {
  .container {
    max-width: 900px;
    padding-left: 2px;
  }

  .column-full {
    padding-left: 1rem;
  }

  .column-half {
    width: 100%;
  }

  .width-100 {
    width: 90%;
  }
}
