.poster-container,
.poster-container-banner {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  flex-wrap: wrap; /* Wraps posters to new lines */
  height: 100vh; /* Ensures the container takes the full height of the viewport */
  box-sizing: border-box; /* Ensures padding is included in the container’s total width and height */
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.poster-image {
  border-radius: 15px;
}

.film-poster-image {
  border-radius: 15px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  width: 85%;
  height: 90%;
  align-items: center;
  justify-content: center;
}

.poster-container-banner {
  opacity: 1;
  position: relative;
}

.image-container:hover .middle {
  opacity: 1;
}

.poster-container-banner:hover .middle {
  opacity: 1;
}

.text-poster {
  color: white;
  font-size: 2rem;
}

.poster-image:hover,
.film-poster-image:hover {
  opacity: 0.4;
  transition: 0.4s ease;
}

@media only screen and (width < 735px) {
  .signup-poster {
    display: none;
    visibility: hidden;
  }

  .film-poster-image {
    border-radius: 15px;
    margin: 1rem 0;
    cursor: pointer;
    width: 95%;
    height: 60%;
    align-items: center;
    justify-content: center;
  }

  .poster-container-banner {
    display: flex;
    height: 100%;
  }
}
