/* ProfilePicture.css */

.profile-container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 2rem;
}

#profile-image {
  /* margin: 2rem; */
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}

.profile-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.profile-image-column {
  flex: 0.5;
}

.username {
  font-size: 4rem;
  margin-bottom: 10px;
  color: white;
}

.UsersBio {
  width: 100%;
  height: 20rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
}

.upload-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  width: 11rem;
  color: #db3434;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.upload-button:hover {
  background-color: #0056b3;
}

textarea::placeholder {
  color: white;
}

input::selection,
textarea::selection {
  color: white;
}

.edit-button {
  font-size: 1.3rem;
  display: inline-block;
  padding: 7px 20px;
  background-color: white;
  width: 11rem;
  color: #db3434;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
}
