/* ProfilePicture.css */

.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.profile-row {
  display: flex;
  flex-direction: row; /* Aligns the columns horizontally */
  width: 100%;
  max-width: 800px; /* Optional: To set a max-width for your row */
}

#profile-image {
  margin-right: 4rem;
  width: 10rem;
  height: 10rem;
  border-radius: 10%;
}

.profile-column {
  display: flex;
  flex-direction: column;
}

/* .profile-image-column {
  flex: 0.5;
} */

.username {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: white;
}

.UsersBio {
  width: 100%;
  height: 20rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: black;
  color: #db3434;
}

.upload-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #db3434;
  width: 11rem;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  font-weight: bold;
}

/* .upload-button:hover {
  background-color: #0056b3;
} */

textarea::placeholder {
  color: white;
}

input::selection,
textarea::selection {
  color: white;
}

.edit-button,
.logout-button {
  font-weight: bold;
  font-family: Exo, sans-serif;
  font-size: 1rem;
  display: inline-block;
  padding: 10px 20px;
  background-color: #db3434;
  width: 11rem;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 1rem;
}

.profile-bio {
  font-size: 1.3rem;
  width: 40rem;
  color: #e74f4f;
}

.user-info-column {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Center items vertically */
}

/* .upload-button,
.edit-button,
.logout-button {
  margin: 10px; /* Add some space between buttons */

@media only screen and (width < 735px) {
  #profile-image {
    width: 320px;
    height: 340px;
    margin-bottom: 1rem;
  }

  .profile-row {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center; /* Center items horizontally */
  }

  .profile-bio {
    display: block;
  }

  .username,
  .profile-bio {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .profile-image-column {
    flex: 1; /* Allow #profile-image to take up the full width on small screens */
  }

  .username {
    text-align: left;
    font-size: 2rem;
  }

  .profile-container {
    text-align: left;
  }

  .edit-button,
  .logout-button {
    margin-left: 3rem;
    margin-right: 2rem;
    width: 75%;
  }

  .upload-button {
    text-align: center;
    width: 15rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
