body {
  font-family: Exo, sans-serif;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
}

.column1 {
  width: 100%;
  background-color: #d9d9d9;
  padding: 2rem;
  border-radius: 2rem;
}

.row2 {
  display: flex;
}

.image-container {
  justify-content: center;
  align-items: center;
}

.RatedHistoryImg {
  width: 20rem;
  height: 28rem;
  margin-right: 1rem;
}

.ul {
  margin: 0;
  padding: 0;
}

.center-img {
  justify-content: space-evenly;
  margin-right: 3rem;
}

.text-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.rated-note {
  margin: 0;
  font-size: 1.5rem;
  color: black;
}

.rated-title {
  font-size: 2rem;
  margin: 0;
  color: white;
  font-weight: bold;
}

.space1 {
  justify-content: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.line {
  border-top: 0.5rem solid black;
  width: 100%;
  align-items: flex-end;
}

.vertical-line {
  height: 4rem;
  border-left: 0.3rem solid black;
  font-weight: bold;
  margin: 0 2.5rem;
  display: inline;
}

.margin-left {
  display: none;
}

.end {
  align-items: flex-end;
}

.rating-container {
  display: flex;
  align-items: center;
}

.ratedRating {
  margin: 0 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.line2 {
  display: none;
}

.like-button {
  margin-left: 2.5rem;
  margin-right: 0.5rem;
  font-size: 3rem;
  cursor: pointer;
  color: gray;
}

.like-prompt {
  cursor: pointer;
  font-weight: bold;
  margin-right: 2.5rem;
  color: #db3434;
  font-size: 1.7rem;
}

.rated-stars-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.rated-stars-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (width < 735px) {
  .RatedHistoryImg {
    display: none;
  }

  .profile-image {
    padding-bottom: 0;
  }

  .red-text {
    font-size: 2rem;
  }

  .line {
    display: none;
  }

  .row2 {
    flex-direction: column;
  }

  .line2 {
    display: block;
    border-top: 0.5rem solid black;
    width: 95%;
    margin-right: 1rem;
    align-items: flex-end;
  }

  .rated-stars-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .rated-stars-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .mobile-rating-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .like-button {
    margin: 0;
  }

  .hidden-prompt {
    display: none;
  }

  .like-prompt {
    margin-left: 0.3rem;
  }

  .vertical-line {
    margin: 0;
  }
}
