/* .note {
  width: 20rem;
  height: 20rem;
}

.body {
  font-family: Exo, sans-serif;
}

.containerDetails {
  max-width: 900px;
  margin: 0 auto;
}

.rowDetails {
  display: flex;
  flex-direction: row;
}

.col-full,
.col-half {
  width: 100%;
}

p {
  margin: 0;
} */
