.note {
  width: 20rem;
  height: 20rem;
  padding: 10px 15px;
  border-radius: 1rem;
}

input[type='radio'] {
  display: none;
}

.rateImageDetails {
  width: 730px;
  height: 60rem;
  margin: 2rem;
}

.ratedFilm {
  font-size: 1rem;
  color: white !important;
  background-color: red;
  border: none;
  border-radius: 0.5em;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  margin-bottom: 3rem;
  margin-top: 5rem;
  margin-left: 21rem;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto; /* Two columns for two elements */
  align-items: center;
}

.star {
  align-items: center;
}
