.note {
  width: 20rem;
  height: 17rem;
  padding: 10px 15px;
  border-radius: 1rem;
}

input[type='radio'] {
  display: none;
}

.rateImageDetails {
  width: 640px;
  height: 50rem;
  margin: 2rem;
  border-radius: 25px;
}

.col-half-space {
  display: flex;
  flex-direction: column; /* Makes items stack vertically */
  align-content: space-between; /* Adds space between items */
}

.disclamer-Msg {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.postAndCancel {
  display: flex;
  justify-content: space-around;
}

.ratedFilm {
  font-size: 1rem;
  color: white !important;
  background-color: red;
  border: none;
  border-radius: 0.5em;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  margin-bottom: 3rem;
  margin-top: 3rem;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.star {
  align-items: center;
}

.rated-prompt {
  text-align: center; /* Center the text horizontally */
  font-size: 1.2rem;
  margin-top: 10px; /* Optional: Add some spacing if needed */
  width: 100%; /* Ensure it takes the full width of the container */
  display: flex;
  justify-content: center;
}

@media only screen and (width < 735px) {
  .rateImageDetails {
    width: 300px;
    height: 30rem;
    margin: 2rem;
  }

  .rowDetails {
    display: flex;
    flex-direction: column;
  }

  .mobile-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .note {
    margin-top: 0;
    width: 18rem;
    height: 20rem;
  }

  .star {
    margin-top: 2rem;
  }

  .ratedFilm {
    margin-top: 1rem;
    margin-left: 0;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rated-prompt {
    margin-left: 0;
  }

  .rating-prompt {
    margin: 0;
    padding: 0;
  }

  /* .font-size {
    font-size: 2rem;
  } */

  .cancel {
    margin-left: 1rem;
  }
}
