.column-half2 {
  display: flex;
  justify-content: space-around;
}

.black {
  color: black;
}

.white {
  color: white;
}

@media only screen and (width <= 735px) {
  .column-half2 {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .black {
    color: black !important;
  }

  .white {
    color: white !important;
  }
}
