.body {
  font-family: Exo, sans-serif;
}

.containerDetails {
  max-width: 1000%;
  margin: 0 auto;
}

.containerStreamingDetails {
  max-width: 90%;
  margin: 0 auto;
}

.rowDetails {
  display: flex;
  flex-direction: row;
}

.col-full,
.col-half {
  width: 100%;
}

.col-half-space {
  display: flex;
  flex-direction: column; /* Makes items stack vertically */
  align-content: space-between; /* Adds space between items */
}

.col-half-img {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

.imageDetails {
  display: flex;
  justify-content: center;
  width: 670px;
  height: 50rem;
  margin: 2rem;
  padding-bottom: 2rem;
}

/* .rateImageDetails {
  width: 730px;
  height: 60rem;
  margin: 2rem;
} */

.space {
  margin-top: 2rem;
  margin-right: 2rem;
}

.space-top {
  margin: 0 2rem;
}

h1 {
  text-align: center;
}

.red-text {
  align-content: space-between;
  margin: 1rem 0;
  font-size: 2rem;
  color: red;
}

.white-text {
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
}

.white-text-guest {
  font-size: 1rem;
  color: white;
}

.add-watchlist-button {
  font-size: 1rem;
  color: white !important;
  background-color: red;
  border: none;
  border-radius: 1em;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  margin-bottom: 3rem;
}

.space-below {
  padding-bottom: 3rem;
}

.trailer {
  width: 100rem;
  height: 52rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.center {
  text-align: center;
}

.prime-size,
.netflix-size,
.hulu-size,
.apple-size,
.paramount-size {
  width: 5rem;
  height: 5rem;
}

.prime-size,
.netflix-size,
.apple-size {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.disney-size {
  width: 8.2rem;
  height: 4.5rem;
  padding: 0 1rem;
}

.peacock-size,
.hbo-size {
  width: 11rem;
  height: 4rem;
}

.showtime-size,
.starz-size {
  width: 9rem;
  height: 5rem;
}

.hbo-size {
  padding: 0.5rem 1.5rem;
}

.paramount-size,
.hulu-size {
  padding: 0 1.5rem;
}

.ref-links {
  padding-top: 3rem;
}

.clickMe {
  cursor: pointer;
}

.inline {
  display: inline;
  text-align: center;
}

@media screen and (width <= 768px) {
  .br {
    display: none;
  }

  .imageDetails {
    width: 280px;
    height: 400px;
    padding: 0.5rem 3rem;
  }

  .space {
    margin: 2rem 0;
  }

  .inline {
    display: inline;
    text-align: center;
  }

  .center-mobile {
    text-align: center;
  }

  .trailer {
    width: 370px;
    height: 400px;
  }

  .pad {
    margin: 0.5rem 2rem;
  }

  .red-text {
    font-size: 1.3rem;
    color: red;
  }

  .white-text {
    font-size: 1.3rem;
  }

  .rowDetails {
    flex-wrap: wrap;
  }

  .like-button-mobile {
    padding: 0.5rem;
  }

  .row1 {
    margin: 0;
    padding: 0.5rem;
  }

  .column1 {
    padding: 1rem;
    padding-right: 0;
  }
}
