.body {
  font-family: Exo, sans-serif;
}

.containerDetails {
  max-width: 900px;
  margin: 0 auto;
}

.rowDetails {
  display: flex;
  flex-direction: row;
}

.col-full,
.col-half {
  width: 100%;
}

p {
  margin: 0;
}

.imageDetails {
  padding: 2rem 0;
  width: 26rem;
  height: 40rem;
}

.space {
  margin: 2rem;
}

.space-top {
  margin: 0 2rem;
}

h1 {
  text-align: center;
}

.red-text {
  font-size: 1rem;
  color: red;
}

.white-text {
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
}

.add-watchlist-button {
  font-size: 1rem;
  color: white !important;
  background-color: red;
  border: none;
  border-radius: 1em;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  margin-bottom: 3rem;
}

.space-below {
  padding-bottom: 3rem;
}

.trailer {
  width: 100rem;
  height: 52rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (width <= 768px) {
  .imageDetails {
    width: 280px;
    height: 400px;
    padding: 4rem 3rem;
  }

  .inline {
    display: inline;
    text-align: center;
  }

  .center {
    text-align: center;
  }

  .trailer {
    width: 370px;
    height: 400px;
  }

  .pad {
    margin: 0.5rem 2rem;
  }

  .red-text {
    font-size: 1rem;
    color: red;
  }

  .rowDetails {
    flex-wrap: wrap;
  }
}
