.watchlist-prompt {
  text-align: center;
  color: white;
}

ul {
  list-style-type: none;
}

.profile-image {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 22rem;
  cursor: pointer;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
  z-index: 2;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.image-container {
  position: relative;
}

.image-container:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
}

.profile-image:hover {
  opacity: 0.4;
  transition: 0.4s ease;
}

.margin-top {
  margin-top: 10rem;
}

@media only screen and (width < 735px) {
  .margin-top {
    margin-top: 1rem;
  }

  .profile-image {
    width: 320px;
    height: 420px;
    border-radius: 20px;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .watchlist-prompt {
    text-align: center;
  }

  .mobile-top-margin {
    margin-top: 10rem;
  }

  .details-button {
    margin-top: 1rem;
  }
}

.details-button {
  cursor: pointer;
  color: #343434;
  background-color: #d9d9d9;
  margin-left: 2rem;
  margin-right: 0.2px;
  width: 16.5rem;
  height: 5rem;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}

.title {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.rating {
  font-size: 0.8rem;
  font-weight: bold;
}

.trash-icon {
  font-size: 1.8rem;
  cursor: pointer;
  color: #343434;
  padding-right: 1rem;
}

.column-profile {
  justify-content: space-around;
  margin-bottom: 2rem;
}
