ul {
  list-style-type: none;
}

.profile-image {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 400px;
  cursor: pointer;
  padding: 2rem;
}

.margin-top {
  margin-top: 10rem;
}

@media only screen and (width < 735px) {
  .margin-top {
    margin-top: 1rem;
  }

  .profile-image {
    width: 320px;
    height: 420px;
    border-radius: 20px;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .watchlist-prompt {
    text-align: center;
  }

  .mobile-top-margin {
    margin-top: 10rem;
  }

  .details-button {
    margin-top: 1rem;
  }
}

.details-button {
  cursor: pointer;
  color: white;
  background-color: #db3434;
  border-radius: 0.5rem;
  font-size: 2rem;
  margin-left: 1.8rem;
  margin-right: 0.8rem;
  padding: 0.3rem 5rem;
}

.trash-icon {
  font-size: 2rem;
  cursor: pointer;
  color: #db3434;
}

.column-profile {
  justify-content: space-around;
  margin-bottom: 2rem;
}
